<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Felicity Contest · IIIT Hyderabad</title>
    <link rel="stylesheet" href="https://felicity.iiit.ac.in/static/styles/vendor/normalize.min.css">
    <link rel="stylesheet" href="https://felicity.iiit.ac.in/static/styles/vendor/pure-min.css">
    <link rel="stylesheet" href="https://felicity.iiit.ac.in/static/styles/vendor/felicons.css">
    <link rel="stylesheet" href="https://felicity.iiit.ac.in/static/styles/vendor/flags.css">
    <link rel="stylesheet" href="https://felicity.iiit.ac.in/static/styles/core.css">

    <link href='https://fonts.googleapis.com/css?family=Flamenco|Noto+Sans' rel='stylesheet' type='text/css'>
    <script src="https://felicity.iiit.ac.in/static/scripts/vendor/jquery.min.js" charset="utf-8"></script>

    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
    <script src="https://felicity.iiit.ac.in/static/scripts/vendor/mustache.min.js" charset="utf-8"></script>
</head>
<body class="page-open">
    <article class="landing">
        <div class="landing-content">
            <p class="iiit-h">
                <img src="images/iiit-logo.png" alt="IIIT H Logo"> IIIT-H
            </p>
            <p class="presents">
                presents
            </p>
            <h1 class="title"><a href="#">Felicity</a></h1>
            <p class="year">2016</p>
            <p class="tagline">Where magic happens</p>
            <p class="dates">February 19<sup>th</sup>, 20<sup>th</sup> and 21<sup>st</sup></p>
        </div>
    </article>
    <div class="content-holder">
        <article class="page open full contest">
            <div class="container problem">
                <div class="contest-tnc">
                    <div class="contest-title">Gordian Knot</div>
                    <div class="contest-caption">The Project Euler of Felicity</div>
                </div>
                <div id="displayContent"></div>
            </div>
        </article>
    </div>
    <nav>
        <ul class="contest-nav">
            <li>
                <a href="https://felicity.iiit.ac.in/contest/gordian-knot/" class="contest-nav-link btn">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="https://felicity.iiit.ac.in/contest/gordian-knot/problems/" class="contest-nav-link btn">
                    Problems
                </a>
            </li>
            <li>
                <a href="https://felicity.iiit.ac.in/contest/gordian-knot/scoreboard/" class="contest-nav-link btn">
                    Scoreboard
                </a>
            </li>
        </ul>
    </nav>
    
    <script type="text/plain" id="welcomeTemplate">
        <div class="row">
            <div class="col6">
                <div class="announcements">
                    <ul>
                        <li>Announcement 1</li>
                        <li>Announcement 2</li>
                        <li>Announcement 3</li>
                    </ul>
                </div>
                <div class="links">
                    For any queries contact
                    <a href="mailto:threads@felicity.iiit.ac.in">threads@felicity.iiit.ac.in</a>
                    or visit our <a href="https://www.facebook.com/events/456168874578874/">
                    Facebook Event page.</a>
                </div>
            </div>
            <div class="col6">
                <h3>Rules</h3>
                <ul>
                    <li>There are 10 levels in all. Each question carries some points depending on its level. For unlocking each level, there are some requirements.</li>
                    <li>Score for a problem on the i-th level is floor(2^(i - j)) + 32 where j is the number of wrong attempts before getting the solution right.</li>
                    <li>Time penalty of 30 seconds is levied after a wrong submission.</li>
                    <li>Any attempt to game the system will lead to disqualification.</li>
                    <li>Tie in scores will be resolved first by level, then by timestamp.</li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/plain" id="scoreboardTemplate">
    <div class="text-center">
        <h2>Problems</h2>
        <div class="scoreboard container-inline-block">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <th>#</th>
                    <th colspan="2">Name</th>
                    <th>Score</th>
                </thead>
                <tbody>
                    {{#problems}}
                    <tr>
                        <td>{{index}}</td>
                        <td class="flag-container"></td>
                        <td>{{name}}</td>
                        <td>{{score}}</td>
                    </tr>
                    {{/problems}}
                </tbody>
            </table>
        </div>
    </div>
    </script>
    <script type="text/plain" id="problemsViewTemplate">
        <div class="text-center">
            <h2>Problems</h2>
            <div class="problems container-inline-block">
                {{#levels}}
                    <h3>Level {{level}}</h3>
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <th>#</th>
                            <th>Title</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            {{#problems}}
                                <tr>
                                    <td><a href=https://felicity.iiit.ac.in/contest/gordian-knot/{{link}}>{{question_number}}</a></td>
                                    <td><a href=https://felicity.iiit.ac.in/contest/gordian-knot/{{link}}>{{question_title}}</a></td>
                                    <td><span class={{question_status}}>{{status}}</span></td>
                                </tr>
                            {{/problems}}
                        </tbody>
                    </table>
                {{/levels}}
            </div>
        </div>
    </script>
    <script type="text/plain" id="problemTemplate">
        <div class="problem">
            <div class="level">Level {{level}} - Problem {{problem}}</div>
            <div class="title">{{title}}</div>
            <div class="statement">
                {{description}}
            </div>
            <div class="answer">
                <form class="pure-form" onsubmit="submitAnswer(); return false;" id="submitAnswerForm">
                    <input type="hidden" id="level_no" value="{{level}}">
                    <input type="hidden" id="problem_no" value="{{problem}}">
                    <input type="text" name="submission_string" id="answer" placeholder="Answer">
                    <br/>
                    <input type="submit" class="pure-button pure-button-primary btn" value="Submit">
                </form>
            </div>
            <div class="comments">
                <h3>Comments</h3>
                {{#comments}}
                    <div class="comment">
                        <div class="meta">
                            <div class="author">@{{author}}</div>
                            <div class="time">{{time}}</div>
                        </div>
                        <div class="body">{{body}}</div>
                    </div>
                {{/comments}}
                <form class="pure-form">
                    <textarea class="pure-input-1" placeholder="Type your comment here" rows="3"></textarea>
                    <input type="submit" class="pure-button pure-button-primary btn" value="Comment">
                </form>
            </div>
        </div>
    </script>
    <script type="text/plain" id="not-found">
        <div class="text-center">
            <h1>Error 404</h1>
            <h2>This page does not exists</h2>
        </div>
    </script>
    
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <script type="text/javascript">
    function index() {
        var view = {
            message : "Welcome!"
        };
        var template = document.getElementById('welcomeTemplate').innerHTML;
        var output = Mustache.render(template, view);
        document.getElementById('displayContent').innerHTML=output;
    }
    
    function scoreboard() {
        $.ajax({
                type: 'GET',
                url: 'https://felicity.iiit.ac.in/contest/gordian-knot/api/problems/?format=json',
                dataType: 'json'
            }).done(function(data) {
                var obj=data;
                console.log(data);
                document.getElementById('displayContent').innerHTML="";
                for(var i=0;i<obj.length;i++){
                    var view = {
                        name : obj[i]['user_nick'],
                        score : obj[i]['user_score']
                    };
                    var template = document.getElementById('scoreboardTemplate').innerHTML;
                    var output = Mustache.render(template, view);
                    document.getElementById('displayContent').innerHTML+=output+"<hr />";
                }
        });
    }
    
    function problems() {
        var obj;
        $.ajax({
            type: 'GET',
            url: 'https://felicity.iiit.ac.in/contest/gordian-knot/api/problems/?format=json',
            dataType: 'json',
            success: function(data) {
                obj=data;
                for(var i=0;i<obj['problem_data'].length;i++) {
                    for(var j=0;j<obj['problem_data'][i]['question_list'].length;j++) {
                        obj['problem_data'][i]['question_list'][j]['link']="./problem/"+obj['problem_data'][i]['question_level']+"/"+obj['problem_data'][i]['question_list'][j]['question_number'];
                    }
                }
                data = obj['problem_data'];
                document.getElementById('displayContent').innerHTML="";
                var levels = [];
                for(var j=0;j<data.length;j++){
                    var view = {
                        problems : data[j]['question_list'],
                        level : data[j]['question_level']
                    }
                    levels.push(view);
                }
                var view = {levels: levels}
                var template = document.getElementById('problemsViewTemplate').innerHTML;
                var output = Mustache.render(template, view);
                document.getElementById('displayContent').innerHTML+=output+"<hr />";
            }
        });
    }

    function problem(ctx) {
        loadproblem(ctx.params.level || '', ctx.params.problem || '');
    }

    function loadproblem(level, problem_no) {
        var obj;
        $.ajax({
            type: 'GET',
            url: ['https://felicity.iiit.ac.in/contest/gordian-knot/api/problems/', level, '/', problem_no, '/?format=json'].join(''),
            dataType: 'json',
            success: function(data) {
                obj=data;
                data = obj['question_data'];
                var view = {
                    title : data['question_title'],
                    problem : data['question_number'],
                    level : data['question_level'],
                    description : data['question_desc'],
                    image : data['question_image']
                };
                var template = document.getElementById('problemTemplate').innerHTML;
                var output = Mustache.render(template, view);
                document.getElementById('displayContent').innerHTML=output;
                MathJax.Hub.Queue(['Typeset', MathJax.Hub]);
            }
        });    
    }

    function submitAnswer() {
        var level = $('#level_no').val();
        var problem =  $('#problem_no').val();
        var d = JSON.stringify({
                submission_string : $('#answer').val()
            });
        
        $.ajax({
            type: 'POST',
            url: 'https://felicity.iiit.ac.in/contest/gordian-knot/api/problems/'+level+'/'+problem+'/',
            dataType: 'json',
            data: d,
            success: function(data) {
                console.log(data);
                //Change the dom element wrt the data, correct or wrong answer
            },
            error: function(d, a, f) {
                console.log(d, a, f);
            }
        });
    }

    //page.base('/');

    page('/', function() {
        console.log('index');
        index();
    });
    page('/problems', function () {
        console.log('problems');
        problems();
    })
    page('/problem/:level/:problem', function (pro){
        problem(pro);
    })
    page('/scoreboard', function () {
        console.log('scoreboard');
        scoreboard();
    })
    page('*', function() {
        //$('#displayContent').html( Mustache.render($('#not-found').html(), {} ) );
    });
    page();

    function locationHashChanged() {
        page(location.hash);
    }
    
    var API = new (function(){
        var baseUrl = 'https://felicity.iiit.ac.in/contest/gordian-knot/api/';
        
        this.getProblemList = function(success, error) {
            $.ajax({
                'method'    : 'GET',
                'url'       : baseUrl + 'problems/',
                'success'   : success,
                'error'     : error
            });
        };
        
        this.getProblem = function (level, problem, success, error) {
            $.ajax({
                'method'    : 'GET',
                
            })
        };
    })();

    window.onhashchange = locationHashChanged;

    </script>

</body>
</html>

